div {
}

#first-div {
  background-color: #39cccc;
  
}

#second-div {
  background-color: #ff4136;
}

p {
  background-color: #7fdbff;
}

div {

  padding:  200px 100px 200px;
  margin: px 0px 0px 0px;
  border: 1px solid black;
  
 }

 img {
   
 }


